input[type=text] {
    width: 300px;
    height: 45px;
    color: #000000 !important;
}

input[type=password] {
    width: 300px;
    height: 45px;
    color: #000000 !important;
}

.login-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.admin-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

input {
    margin: 10px;
}
