@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <form method="post">
            <input type="text" id="login" class="fadeIn" name="login" placeholder="Login">
            <input type="text" id="password" class="fadeIn" name="login" placeholder="Password">
            <input type="submit" class="fadeIn" value="Log In">
            <input type="submit" class="fadeIn" value="Sign Up With Google">
        </form>

    </div>
</div>
