@page
@model IndexModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="wrapper">
    @{
        foreach (var userName in Model.UserNames)
        {
            <div class="container">
                <div>@userName</div>
                <button>Sasha</button>
            </div>
        }
    }
</div>
